.plate{
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 230px;
  margin: 1.5% 2.5%;
  display: inline-block;
  vertical-align: top;
  min-height: 200px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 5px;
}

/*.plate .plate__header_open{
  line-height: initial;
  text-align: left;
  margin: 15px 10px;
}
.plate .plate__body{
  margin: 10px;
}*/
