.card{  
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card .card__title{
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0.25em;
  line-height: 1.2em;
}

.card .card__picture{
  max-height: 150px;
  display: block;
  margin: 0 auto;
}
